In [3]:
import pandas as pd
import numpy as np

In [4]:
data_liga = pd.read_csv('Datos/2018-2019.1eraDivision(FT,HTresults;matchstats;match,totalgoals,AHodds).csv')
features = ['Date', 'HomeTeam', 'AwayTeam',
            'BbAvH', 'BbAvD', 'BbAvA',
            'B365H', 'B365D', 'B365A',
            'FTHG', 'FTAG', 'FTR']
data = data_liga[features]

In [5]:
def expected_returns(data, h, d, a, ncol, name_column):
    new_col = data.apply(lambda x: 1/x[h] + 1/x[d] + 1/x[a], axis=1)
    data.insert(loc=ncol, column=name_column, value=new_col)
expected_returns(data, 'BbAvH', 'BbAvD', 'BbAvA', 6, 'BbAvHRet')
data.head(10)

,Date,HomeTeam,AwayTeam,BbAvH,BbAvD,BbAvA,BbAvHRet,B365H,B365D,B365A,FTHG,FTAG,FTR
0,17/08/2018,Betis,Levante,1.68,4.00,4.95,1.047258,1.66,4.00,5.00,0,3,A
1,17/08/2018,Girona,Valladolid,1.78,3.60,4.79,1.048344,1.75,3.60,5.00,0,0,D
2,18/08/2018,Barcelona,Alaves,1.10,9.82,25.67,1.049880,1.11,10.00,21.00,3,0,H
3,18/08/2018,Celta,Espanol,1.90,3.53,4.20,1.047697,1.85,3.50,4.50,1,1,D
4,18/08/2018,Villarreal,Sociedad,2.03,3.43,3.76,1.050113,2.04,3.40,3.80,1,2,A
5,19/08/2018,Eibar,Huesca,1.70,3.77,5.08,1.050338,1.66,3.75,5.50,1,2,A
6,19/08/2018,Real Madrid,Getafe,1.21,6.66,14.13,1.047368,1.20,7.00,13.00,2,0,H
7,19/08/2018,Vallecano,Sevilla,3.38,3.56,2.11,1.050691,3.25,3.60,2.14,1,4,A
8,20/08/2018,Ath Bilbao,Leganes,1.78,3.43,5.03,1.052150,1.75,3.30,5.50,2,1,H
9,20/08/2018,Valencia,Ath Madrid,2.99,3.14,2.51,1.051326,3.00,3.20,2.50,1,1,D

In [6]:
def predictions(data, h, d, a, rets, ncol):
    ph = data.apply(lambda x: 1/x[h]/x[rets], axis=1)
    pd = data.apply(lambda x: 1/x[d]/x[rets], axis=1)
    pa = data.apply(lambda x: 1/x[a]/x[rets], axis=1)
    data.insert(loc=ncol, column='ph', value=ph)
    data.insert(loc=ncol+1, column='pd', value=pd)
    data.insert(loc=ncol+2, column='pa', value=pa)
predictions(data, 'BbAvH', 'BbAvD', 'BbAvA', 'BbAvHRet', 7)
data.head()

,Date,HomeTeam,AwayTeam,BbAvH,BbAvD,BbAvA,BbAvHRet,ph,pd,pa,B365H,B365D,B365A,FTHG,FTAG,FTR
0,17/08/2018,Betis,Levante,1.68,4.00,4.95,1.047258,0.568378,0.238719,0.192904,1.66,4.0,5.0,0,3,A
1,17/08/2018,Girona,Valladolid,1.78,3.60,4.79,1.048344,0.535891,0.264968,0.199141,1.75,3.6,5.0,0,0,D
2,18/08/2018,Barcelona,Alaves,1.10,9.82,25.67,1.049880,0.865900,0.096995,0.037105,1.11,10.0,21.0,3,0,H
3,18/08/2018,Celta,Espanol,1.90,3.53,4.20,1.047697,0.502355,0.270389,0.227256,1.85,3.5,4.5,1,1,D
4,18/08/2018,Villarreal,Sociedad,2.03,3.43,3.76,1.050113,0.469102,0.277632,0.253265,2.04,3.4,3.8,1,2,A

In [7]:
data = data.drop(['BbAvH', 'BbAvD', 'BbAvA', 'BbAvHRet'], axis=1)

In [79]:
data.head()

,Date,HomeTeam,AwayTeam,ph,pd,pa,B365H,B365D,B365A,FTHG,FTAG,FTR
0,17/08/2018,Betis,Levante,0.568378,0.238719,0.192904,1.66,4.0,5.0,0,3,A
1,17/08/2018,Girona,Valladolid,0.535891,0.264968,0.199141,1.75,3.6,5.0,0,0,D
2,18/08/2018,Barcelona,Alaves,0.865900,0.096995,0.037105,1.11,10.0,21.0,3,0,H
3,18/08/2018,Celta,Espanol,0.502355,0.270389,0.227256,1.85,3.5,4.5,1,1,D
4,18/08/2018,Villarreal,Sociedad,0.469102,0.277632,0.253265,2.04,3.4,3.8,1,2,A

In [8]:
new_col = data.apply(lambda x: x['Date'].split('/')[1], axis=1)
data.insert(loc=1, column='Month', value=new_col)
data.head()

,Date,Month,HomeTeam,AwayTeam,ph,pd,pa,B365H,B365D,B365A,FTHG,FTAG,FTR
0,17/08/2018,08,Betis,Levante,0.568378,0.238719,0.192904,1.66,4.0,5.0,0,3,A
1,17/08/2018,08,Girona,Valladolid,0.535891,0.264968,0.199141,1.75,3.6,5.0,0,0,D
2,18/08/2018,08,Barcelona,Alaves,0.865900,0.096995,0.037105,1.11,10.0,21.0,3,0,H
3,18/08/2018,08,Celta,Espanol,0.502355,0.270389,0.227256,1.85,3.5,4.5,1,1,D
4,18/08/2018,08,Villarreal,Sociedad,0.469102,0.277632,0.253265,2.04,3.4,3.8,1,2,A

In [9]:
data_fifa = pd.read_csv('Datos/Features_FIFA_score/fifaindex_1819.csv')

In [10]:
def transform_month(data):
    # ADD 1 MONTH BECOUSE DATA IS TAKEN AT THE FINAL OF THE MONTH
    # THUS FOR ANALYSIS IN THE MATCHES OF OCTOBER I USE DATA OF SEPTEMBER
    # IN AUGUST WE DO NOT HAVE DATA OF JULY SO I WILL REPEATE AND USE THE DATA OF FINALS OF MONTH
    data.loc[data['Date'] == 8, 'Date'] = '09'
    data.loc[data['Date'] == 9, 'Date'] = '10'
    data.loc[data['Date'] == 10, 'Date'] = '11'
    data.loc[data['Date'] == 11, 'Date'] = '12'
    data.loc[data['Date'] == 12, 'Date'] = '01'
    data.loc[data['Date'] == 1, 'Date'] = '02'
    data.loc[data['Date'] == 2, 'Date'] = '03'
    data.loc[data['Date'] == 3, 'Date'] = '04'
    data.loc[data['Date'] == 4, 'Date'] = '05'
    data.loc[data['Date'] == 5, 'Date'] = '06'

def transform_team(data):
    data.loc[data['Team'] == 'FC Barcelona', 'Team'] = 'Barcelona'
    data.loc[data['Team'] == 'Atlético Madrid', 'Team'] = 'Ath Madrid'
    data.loc[data['Team'] == 'Valencia CF', 'Team'] = 'Valencia'
    data.loc[data['Team'] == 'Villarreal CF', 'Team'] = 'Villarreal'
    data.loc[data['Team'] == 'Real Betis', 'Team'] = 'Betis'
    data.loc[data['Team'] == 'Athletic Club', 'Team'] = 'Ath Bilbao'
    data.loc[data['Team'] == 'Sevilla FC', 'Team'] = 'Sevilla'
    data.loc[data['Team'] == 'SD Eibar', 'Team'] = 'Eibar'
    data.loc[data['Team'] == 'RC Celta', 'Team'] = 'Celta'
    data.loc[data['Team'] == 'Real Sociedad', 'Team'] = 'Sociedad'
    data.loc[data['Team'] == 'Getafe CF', 'Team'] = 'Getafe'
    data.loc[data['Team'] == 'RCD Espanyol', 'Team'] = 'Espanol'
    data.loc[data['Team'] == 'Girona FC', 'Team'] = 'Girona'
    data.loc[data['Team'] == 'Levante UD', 'Team'] = 'Levante'
    data.loc[data['Team'] == 'D. Alavés', 'Team'] = 'Alaves'
    data.loc[data['Team'] == 'CD Leganés', 'Team'] = 'Leganes'
    data.loc[data['Team'] == 'SD Huesca', 'Team'] = 'Huesca'
    data.loc[data['Team'] == 'Rayo Vallecano', 'Team'] = 'Vallecano'
    data.loc[data['Team'] == 'R. Valladolid CF', 'Team'] = 'Valladolid'

In [11]:
transform_month(data_fifa)
transform_team(data_fifa)

In [12]:
def add_team_score(data, data_scores):
    ATTH, MIDH, DEFH, ATTA, MIDA, DEFA = [], [], [], [], [], []
    for h, a, m in data[['HomeTeam', 'AwayTeam', 'Month']].values:
        if m == '08': # DATA BEGINS MID AUGUST, TAKE AUGUST IN MATCHES OF AUGUST AS WELL AS SEPTEMBER
            m = '09'
        ATTH.append(data_scores['ATT'][(data_scores['Team'] == h) & (data_scores['Date'] == m)].values[0])
        MIDH.append(data_scores['MID'][(data_scores['Team'] == h) & (data_scores['Date'] == m)].values[0])
        DEFH.append(data_scores['DEF'][(data_scores['Team'] == h) & (data_scores['Date'] == m)].values[0])
        ATTA.append(data_scores['ATT'][(data_scores['Team'] == a) & (data_scores['Date'] == m)].values[0])
        MIDA.append(data_scores['MID'][(data_scores['Team'] == a) & (data_scores['Date'] == m)].values[0])
        DEFA.append(data_scores['DEF'][(data_scores['Team'] == a) & (data_scores['Date'] == m)].values[0])
    data.insert(loc=4, column='ATTH', value=ATTH)
    data.insert(loc=5, column='MIDH', value=MIDH)
    data.insert(loc=6, column='DEFH', value=DEFH)
    data.insert(loc=7, column='ATTA', value=ATTA)
    data.insert(loc=8, column='MIDA', value=MIDA)
    data.insert(loc=9, column='DEFA', value=DEFA)
add_team_score(data, data_fifa)

In [92]:
data.head()

,Date,Month,HomeTeam,AwayTeam,ATTH,MIDH,DEFH,ATTA,MIDA,DEFA,ph,pd,pa,B365H,B365D,B365A,FTHG,FTAG,FTR
0,17/08/2018,08,Betis,Levante,79,80,80,78,76,75,0.568378,0.238719,0.192904,1.66,4.0,5.0,0,3,A
1,17/08/2018,08,Girona,Valladolid,80,78,75,73,72,71,0.535891,0.264968,0.199141,1.75,3.6,5.0,0,0,D
2,18/08/2018,08,Barcelona,Alaves,89,84,85,76,76,74,0.865900,0.096995,0.037105,1.11,10.0,21.0,3,0,H
3,18/08/2018,08,Celta,Espanol,79,77,76,76,77,75,0.502355,0.270389,0.227256,1.85,3.5,4.5,1,1,D
4,18/08/2018,08,Villarreal,Sociedad,81,80,79,79,77,75,0.469102,0.277632,0.253265,2.04,3.4,3.8,1,2,A

In [93]:
def get_data(data):
    X = data.values[:, 4:13]
    out = data.values[:, -1]
    y_full = np.zeros((X.shape[0], 7))
    for i, y_i in enumerate(out):
        if y_i == 'H':
            y_full[i, 0] = 1.0
        if y_i == 'A':
            y_full[i, 1] = 1.0
        if y_i == 'D':
            y_full[i, 2] = 1.0
        
        y_full[i, 4] = data.values[i, 13] # ODDS OF HOME TEAM in the house you want to bet in
        y_full[i, 5] = data.values[i, 14]
        y_full[i, 6] = data.values[i, 15] # ODDS OF AWAY TEAM blabla
    
    return X, y_full, out
X, y, outcome = get_data(data)

In [94]:
from sklearn.model_selection import train_test_split
train_x, test_x, train_y, test_y, = train_test_split(X,  y) # SPLIT THE DATA IN TRAIN AND TEST DATASET.

In [98]:
def odds_loss(y_true, y_pred):
    win_home = y_true[:, 0:1]
    win_away = y_true[:, 1:2]
    draw = y_true[:, 2:3]
    no_bet = y_true[:, 3:4]
    
    odds_h = y_true[:, 4:5]
    odds_d = y_true[:, 5:6]
    odds_a = y_true[:, 6:7]
    
    gain_loss_vector = K.concatenate([win_home * (odds_h - 1) - (1 - win_home),
                                      win_away * (odds_a - 1) - (1 - win_away),
                                      draw * (odds_d - 1) - (1 - draw),
                                      K.zeros_like(odds_d)], axis=1)

    return -K.mean(K.sum(gain_loss_vector * y_pred, axis=1))

In [1]:
from keras.layers import BatchNormalization, Dense, Input, Dropout
from keras.models import Model
from keras import backend as K

def get_model(input_dim, output_dim, base=3000, multiplier=0.8, p=0.7):
    inputs = Input(shape=(input_dim,))
    l = BatchNormalization()(inputs)
    l = Dropout(p)(l)
    n = base
    l = Dense(n, activation='relu')(l)
    l = BatchNormalization()(l)
    l = Dropout(p)(l)
    n = int(n * multiplier)
    l = Dense(n, activation='relu')(l)
    l = BatchNormalization()(l)
    l = Dropout(p)(l)
    n = int(n * multiplier)
    l = Dense(n, activation='relu')(l)
    outputs = Dense(output_dim, activation='softmax')(l)
    model = Model(inputs=inputs, outputs=outputs)
    model.compile(optimizer='Nadam', loss=odds_loss)
    return model

Using TensorFlow backend.

In [2]:
from keras.callbacks import EarlyStopping, ModelCheckpoint

model = get_model(9, 4, 1000, 0.9, 0.7)
history = model.fit(train_x, train_y, 
                    validation_data = (test_x, test_y),
                    epochs = 50, 
                    batch_size = 10, 
                    callbacks = [EarlyStopping(patience=25),
                                 ModelCheckpoint('odds_loss.hdf5',
                                                 save_best_only=True)]
                   )

WARNING:tensorflow:From /home/raymun/.local/share/virtualenvs/Documentos-R9YD94Vv/lib/python3.5/site-packages/tensorflow/python/ops/resource_variable_ops.py:435: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.

NameError: name 'odds_loss' is not defined

In [114]:
all_x = data.values[:, 4:13]
preds = model.predict(all_x)
predictions = []
for i in preds:
    if np.argmax(i) == 0:
        predictions.append('H')
    elif np.argmax(i) == 1:
        predictions.append('A')
    elif np.argmax(i) == 2:
        predictions.append('D')
    if np.argmax(i) == 3:
        predictions.append('NO')
data['Preds'] = predictions
data.head()

,Date,Month,HomeTeam,AwayTeam,ATTH,MIDH,DEFH,ATTA,MIDA,DEFA,ph,pd,pa,B365H,B365D,B365A,FTHG,FTAG,FTR,Preds
0,17/08/2018,08,Betis,Levante,79,80,80,78,76,75,0.568378,0.238719,0.192904,1.66,4.0,5.0,0,3,A,NO
1,17/08/2018,08,Girona,Valladolid,80,78,75,73,72,71,0.535891,0.264968,0.199141,1.75,3.6,5.0,0,0,D,NO
2,18/08/2018,08,Barcelona,Alaves,89,84,85,76,76,74,0.865900,0.096995,0.037105,1.11,10.0,21.0,3,0,H,H
3,18/08/2018,08,Celta,Espanol,79,77,76,76,77,75,0.502355,0.270389,0.227256,1.85,3.5,4.5,1,1,D,NO
4,18/08/2018,08,Villarreal,Sociedad,81,80,79,79,77,75,0.469102,0.277632,0.253265,2.04,3.4,3.8,1,2,A,NO

In [118]:
def accuracy_predictions(data, predict, house_bet_h, house_bet_a, house_bet_d):
    betted = 0
    accuracy = 0
    profits = 0
    for i in range(len(data)):
        if data[predict][i] == 'H':
            betted += 1
            if data['FTR'][i] == 'H':
                accuracy += 1
                profits += (data[house_bet_h][i])

        if data[predict][i] == 'A':
            betted += 1
            if data['FTR'][i] == 'A':
                accuracy += 1
                profits += (data[house_bet_a][i])

        if data[predict][i] == 'D':
            betted += 1
            if data['FTR'][i] == 'D':
                accuracy += 1
                profits += (data[house_bet_d][i])
    
    print(' ')
    print('Accuracy = {}/{}'.format(accuracy, betted))
    print('Profits = {}€'.format(profits))
    print('Win (or lost) = {}€'.format(profits-betted))
accuracy_predictions(data, 'Preds', 'B365H', 'B365A', 'B365D')

Accuracy = 40/50
Profits = 51.38€
Win (or lost) = 1.3800000000000026€